name: ntfy

services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=Europe/Amsterdam
    user: ${UID}:${GID}
    volumes:
      - cache:/var/cache/ntfy
      - ${NFTY_DATA}:/etc/ntfy
    healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed if healthcheck is used. Prevents zombie processes

volumes:
  cache: