services:
  transmission:
    image: haugene/transmission-openvpn
    volumes:
      - ${DOWNLOADS_DIR:-downloads}:/data
      - transmission_config:/config
    env_file:
      - openvpn.env
      - nordvpn.env
    environment:
      OPENVPN_USERNAME: ${VPN_USERNAME}
      OPENVPN_PASSWORD: ${VPN_PASSWORD}
    cap_add:
      - NET_ADMIN
    logging:
      driver: json-file
      options:
        max-size: 10m

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./radarr/config:/config
      - ${DOWNLOADS_DIR:-downloads}:/data
      - ${MOVIES_DIR}:/movies
      - ${ANIME_DIR}/movies:/anime
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./sonarr/config:/config
      - ${DOWNLOADS_DIR:-downloads}:/data
      - ${SERIES_DIR}:/series
      - ${ANIME_DIR}/series:/anime
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./prowlarr/config:/config
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./bazarr/config:/config
      - ${MOVIES_DIR}:/movies
      - ${SERIES_DIR}:/series
      - ${ANIME_DIR}:/anime
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: service:transmission
    env_file: servarr.env
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
    restart: unless-stopped

volumes:
  transmission_config: