services:
  transmission:
    image: haugene/transmission-openvpn
    volumes:
      - ${TRANSMISSION_DATA_DIR}:/data
      - ${TRANSMISSION_CONFIG_DIR}:/config
    env_file:
      - openvpn.env
      - nordvpn.env
    environment:
      OPENVPN_USERNAME: ${VPN_USERNAME}
      OPENVPN_PASSWORD: ${VPN_PASSWORD}
      LOCAL_NETWORK: ${LOCAL_NETWORK}
    cap_add:
      - NET_ADMIN
    logging:
      driver: json-file
      options:
        max-size: 10m

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./prowlarr/config:/config
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./radarr/config:/config
      - ${MOVIES_DIR}:/movies
      - ${ANIME_MOVIES_DIR}:/anime
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: service:transmission
    env_file: servarr.env
    volumes:
      - ./sonarr/config:/config
      - ${SERIES_DIR}:/series
      - ${ANIME_SERIES_DIR}:/anime
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: service:transmission
    env_file: servarr.env
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
    restart: unless-stopped