name: 'transmission-openvpn'

services:
  transmission-openvpn:
    image: haugene/transmission-openvpn
    volumes:
      - ${DATA_PATH}:/data
      - ${CONFIG_PATH}:/config
    cap_add:
      - NET_ADMIN
    logging:
      driver: json-file
      options:
        max-size: 10m
