name: 'transmission-openvpn'
services:
  transmission-openvpn:
    image: haugene/transmission-openvpn
    cap_add:
      - NET_ADMIN
    volumes:
      - '${DATA_PATH}:/data'
      - '${CONFIG_PATH}:/config'
    logging:
      driver: json-file
      options:
        max-size: 10m
