name: 'transmission-openvpn'

services:
  transmission-openvpn:
    image: haugene/transmission-openvpn
    volumes:
      - ${DATA_PATH}:/data
      - ${CONFIG_PATH}:/config
    env_file:
      - openvpn.env
      - nordvpn.env
    networks:
      p2p-vpn:
        ipv4_address: 10.10.10.2
    environment:
      OPENVPN_USERNAME: ${VPN_USERNAME}
      OPENVPN_PASSWORD: ${VPN_PASSWORD}
      LOCAL_NETWORK: ${LOCAL_NETWORK}
    cap_add:
      - NET_ADMIN
    logging:
      driver: json-file
      options:
        max-size: 10m

networks:
  p2p-vpn:
    external: true
